---
layout: default
---

<div class="posts">
  {% for post in paginator.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt | strip_html | truncatewords: 50 }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="button button-primary">Read More</a>
    </article>
  {% endfor %}

  <div class="pagination" role="navigation">
    {% if paginator.previous_page %}
      {% if paginator.page == 2 %}
        <a class="older-posts" href="/">&larr; 이전 포스트</a>
      {% else %}
        <a class="older-posts" href="{{ '/page' | append: paginator.previous_page }}">&larr; 이전 포스트</a>
      {% endif %}
    {% endif %}
    <span>Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
      <a class="newer-posts" href="{{ '/page' | append: paginator.next_page }}">다음 포스트 &rarr;</a>
    {% endif %}
  </div>
</div>